* {
  box-sizing: border-box;
}

input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 20px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn{border-radius: 5px; font-family: din; outline: none;}
.btn-success{ background: #72b70f;border:1px solid #72b70f;padding:6px 20px; font-size:16px; width: 100%; }
.btn-primary{ background: #64a30a;border:none;width: 100%;border-radius: 20px; margin-bottom: 10px;}
.btn-secondary{ background: gray; border:none; width: 100%;border-radius: 20px;}
.btn-info{background: #333;border:4px solid #ddd;padding: 3px 20px; font-size:20px; border-radius: 20px;  }

body{
  padding: 0;
  margin: 0;
}
.navbar{
  background:#F97300;
}
.nav-link , .navbar-brand{
  color: #f4f4f4;
  cursor: pointer;
}
.nav-link{
  margin-right: 1em !important;
}
.nav-link:hover{
  color: blue;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}

.overlay{
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.79);
}

.header{
  background: url("css/about-img.jpg");
}

.about{
  margin: 4em 0;
  padding: 1em;
  position: relative;
}
.about h1{
  color:#F97300;
  margin: 2em;
  text-align: center;
}
.about img{
  height: 100%;
    width: 100%;
    border-radius: 50%
}
.about span{
  display: block;
  color: #888;
  position: absolute;
  left: 115px;
}
.about .desc{
  padding: 2em;
  border-left:4px solid #10828C;
}
.about .desc h3{
  color: #10828C;
}
.about .desc p{
  line-height:2;
  color:#888;
}

.row {
  margin: 10px;
}

.footer{background: #222; padding: 20px 0; color: #999;} 
.footer h4{color: #fff;border-bottom: 2px solid #131313;margin-bottom: 10px;padding-bottom: 10px;}
.footer ul{list-style: none;padding: 0; }
.footer a:hover{color: #fff;}
.footer p.copyright{margin: 30px 0 0 0;}
.footer .container{background-color: #222}
.footer input[type=text] {width: 100%;}

.content{
  margin-bottom: 30px;
  margin-top: 30px;
}

.paralsec {
    background-image: url("../images/background2.jpg");
    background-size: contain;
}

.paral {
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.paral p {
    font-size: 24px;
    color: #f5f5f5;
    text-align: center;
    line-height: 60px;
}

/* Heading for Parallax Section */
.paral h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
}

.jumbotron {
    margin-bottom: 0;
}

.carousel-inner img {
    width: 100%;
    height: 500px;
}

.header-bottom{
  margin-bottom: 30px;
}

.header-bottom h2{
  text-align: center;
}

.title{
  text-align: center;
  color: blue;
}

.title h2{
  margin-bottom: 30px;
}

.right-box{
}

/*.building-item{
  border: 1px solid black;
  margin-bottom: 10px;
}*/

.raovat{
  text-align: center;
  margin-bottom: 30px;
}
.raovat

.contact-banner{
  float: left;
  width: 100%;
  background-color: #f2f2f2;
}

.contact-content{
  float: left;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 50px;
}

.contact-content .container {
  background-color: white;
}

.contact-content .btn-primary{
  width: 20%;
}

.contact-info{
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

#contact-us-map{
  float: left;
  width: 100%;
  margin-bottom: 30px;
  height: 380px;
}

form .inner-holder{
  float: left;
  width: 100%;
}